<a href="https://colab.research.google.com/github/m37335/kanagawa-exam/blob/master/part2_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install transformers
!pip install stanza

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/d8/b2/57495b5309f09fa501866e225c84532d1fd89536ea62406b2181933fb418/transformers-4.5.1-py3-none-any.whl (2.1MB)
     |████████████████████████████████| 2.1MB 3.8MB/s
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/ae/04/5b870f26a858552025a62f1649c20d29d2672c02ff3c3fb4c688ca46467a/tokenizers-0.10.2-cp37-cp37m-manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 47.0MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 42.1MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (3.10.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Installing collected packages: tokenizers, sacremoses, transformers
Successfully installed sacremoses-0.0.45 tokenizers-0.10.2 transformers-4.5.1
Collecting stanza
  Downloading https://files.pythonhosted.org/packages/50/ae/a70a58ce6b4e2daad538688806ee0f238dbe601954582a74ea57cde6c532/stanza-1.2-py3-none-any.whl (282kB)
     |████████████████████████████████| 286kB 4.0MB/s
Requirement already satisfied: torch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from stanza) (1.8.1+cu101)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from stanza) (4.41.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from stanza) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from stanza) (2.23.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from stanza) (3.12.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.3.0->stanza) (3.7.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (3.0.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf->stanza) (56.0.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf->stanza) (1.15.0)
Installing collected packages: stanza
Successfully installed stanza-1.2

In [2]:
# pytorch
import torch
from transformers import BertTokenizer, BertForMaskedLM
# stanza
import stanza
stanza.download('en') # download English model

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/master/resources_1.2.0.json: 128kB [00:00, 14.3MB/s]
2021-05-04 11:36:10 INFO: Downloading default packages for language: en (English)...
Downloading http://nlp.stanford.edu/software/stanza/1.2.0/en/default.zip: 100%|██████████| 411M/411M [01:14<00:00, 5.50MB/s]
2021-05-04 11:37:31 INFO: Finished downloading models and saved to /root/stanza_resources.

In [3]:
import pandas as pd
allsentenceInTextbook_df = pd.read_csv('https://raw.githubusercontent.com/m37335/kanagawa-exam/master/data/%20NH_textbook-sentence.csv')

In [4]:
allsentenceInTextbook_df

        id  ...                                           sentence
0        0  ...                             Good morning, Takashi.
1        1  ...                                Good morning, Jill.
2        2  ...                                       How are you?
3        3  ...                               I'm fine, thank you.
4        4  ...                                           And you?
...    ...  ...                                                ...
1551  1551  ...      He used his photographs to share it with us,
1552  1552  ...  and to show us the importance of life on the E...
1553  1553  ...  Michio’s own life was changed because of one p...
1554  1554  ...  Perhaps his photographs will also change someo...
1555  1555  ...  Maybe Michio’s Alaskan photographs will encour...

[1556 rows x 7 columns]

In [5]:
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('”', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('“', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('"', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('[', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace(']', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('□', '')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('―', '')

#allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('?', ' ?')
#allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('!', ' !')
#allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('.', ' .')
#allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace(',', ' ,')
allsentenceInTextbook_df.sentence = allsentenceInTextbook_df.sentence.str.replace('\'\'', ' \'')

In [6]:
nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma', use_gpu=True, tokenize_pretokenized=False)
stanza_token = []

for df_sentence in allsentenceInTextbook_df.sentence:
  doc = nlp(df_sentence)
  for sentence in doc.sentences:
    tmp_token = []
    for word in sentence.words:
      tmp_token.append(word.text)
    tmp_token.insert(0, "[CLS]")
    tmp_token.append("[SEP]")
    
    stanza_token.append(tmp_token)

#print(stanza_token)
stanza_token_df = pd.DataFrame(stanza_token)

2021-05-04 11:38:02 WARNING: Can not find mwt: default from official model list. Ignoring it.
2021-05-04 11:38:02 INFO: Loading these models for language: en (English):
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| pos       | combined |
| lemma     | combined |
========================

2021-05-04 11:38:02 INFO: Use device: cpu
2021-05-04 11:38:02 INFO: Loading: tokenize
2021-05-04 11:38:02 INFO: Loading: pos
2021-05-04 11:38:02 INFO: Loading: lemma
2021-05-04 11:38:02 INFO: Done loading processors!

In [7]:
stanza_token_df

         0        1        2            3   ...    22    23    24    25
0     [CLS]     Good  morning            ,  ...  None  None  None  None
1     [CLS]     Good  morning            ,  ...  None  None  None  None
2     [CLS]      How      are          you  ...  None  None  None  None
3     [CLS]        I       'm         fine  ...  None  None  None  None
4     [CLS]      And      you            ?  ...  None  None  None  None
...     ...      ...      ...          ...  ...   ...   ...   ...   ...
1551  [CLS]       He     used          his  ...  None  None  None  None
1552  [CLS]      and       to         show  ...  None  None  None  None
1553  [CLS]   Michio       ’s          own  ...  None  None  None  None
1554  [CLS]  Perhaps      his  photographs  ...  None  None  None  None
1555  [CLS]    Maybe   Michio           ’s  ...  None  None  None  None

[1556 rows x 26 columns]

In [8]:
df_concat = pd.concat([allsentenceInTextbook_df, stanza_token_df], axis=1)

In [61]:
from google.colab import files
filename =  "df_concat-check.csv"
df_concat.to_csv(filename, encoding = 'utf-8-sig') 
files.download(filename)

In [9]:
df_concat

        id textBook  grade  articleId  Page  ...    21    22    23    24    25
0        0       NH      1          1    P4  ...  None  None  None  None  None
1        1       NH      1          1    P4  ...  None  None  None  None  None
2        2       NH      1          1    P4  ...  None  None  None  None  None
3        3       NH      1          1    P4  ...  None  None  None  None  None
4        4       NH      1          1    P4  ...  None  None  None  None  None
...    ...      ...    ...        ...   ...  ...   ...   ...   ...   ...   ...
1551  1551       NH      3         22  P111  ...  None  None  None  None  None
1552  1552       NH      3         22  P111  ...  None  None  None  None  None
1553  1553       NH      3         22  P111  ...  None  None  None  None  None
1554  1554       NH      3         22  P111  ...  None  None  None  None  None
1555  1555       NH      3         22  P111  ...  None  None  None  None  None

[1556 rows x 33 columns]

In [10]:
nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma', use_gpu=True, tokenize_pretokenized=False)
stanza_token_lemma = []

for df_sentence in allsentenceInTextbook_df.sentence:
  doc = nlp(df_sentence)
  for sentence in doc.sentences:
    tmp_token = []
    for word in sentence.words:
      tmp_token.append(word.lemma)
    tmp_token.insert(0, "[CLS]")
    tmp_token.append("[SEP]")
    
    stanza_token_lemma.append(tmp_token)

#print(stanza_token_lemma)
stanza_token_lemma_df = pd.DataFrame(stanza_token_lemma)

2021-05-04 11:39:21 WARNING: Can not find mwt: default from official model list. Ignoring it.
2021-05-04 11:39:21 INFO: Loading these models for language: en (English):
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| pos       | combined |
| lemma     | combined |
========================

2021-05-04 11:39:21 INFO: Use device: cpu
2021-05-04 11:39:21 INFO: Loading: tokenize
2021-05-04 11:39:21 INFO: Loading: pos
2021-05-04 11:39:21 INFO: Loading: lemma
2021-05-04 11:39:21 INFO: Done loading processors!

In [11]:
stanza_token_lemma_df

         0        1        2           3   ...    22    23    24    25
0     [CLS]     good  morning           ,  ...  None  None  None  None
1     [CLS]     good  morning           ,  ...  None  None  None  None
2     [CLS]      how       be         you  ...  None  None  None  None
3     [CLS]        I       be        fine  ...  None  None  None  None
4     [CLS]      and      you           ?  ...  None  None  None  None
...     ...      ...      ...         ...  ...   ...   ...   ...   ...
1551  [CLS]       he      use          he  ...  None  None  None  None
1552  [CLS]      and       to        show  ...  None  None  None  None
1553  [CLS]   Michio       's         own  ...  None  None  None  None
1554  [CLS]  perhaps       he  photograph  ...  None  None  None  None
1555  [CLS]    maybe   Michio          's  ...  None  None  None  None

[1556 rows x 26 columns]

In [12]:
lemma_df_concat = pd.concat([allsentenceInTextbook_df, stanza_token_lemma_df], axis=1)

In [13]:
lemma_df_concat

        id textBook  grade  articleId  Page  ...    21    22    23    24    25
0        0       NH      1          1    P4  ...  None  None  None  None  None
1        1       NH      1          1    P4  ...  None  None  None  None  None
2        2       NH      1          1    P4  ...  None  None  None  None  None
3        3       NH      1          1    P4  ...  None  None  None  None  None
4        4       NH      1          1    P4  ...  None  None  None  None  None
...    ...      ...    ...        ...   ...  ...   ...   ...   ...   ...   ...
1551  1551       NH      3         22  P111  ...  None  None  None  None  None
1552  1552       NH      3         22  P111  ...  None  None  None  None  None
1553  1553       NH      3         22  P111  ...  None  None  None  None  None
1554  1554       NH      3         22  P111  ...  None  None  None  None  None
1555  1555       NH      3         22  P111  ...  None  None  None  None  None

[1556 rows x 33 columns]

In [14]:
f_wordlist_df = pd.read_csv('https://raw.githubusercontent.com/m37335/kanagawa-exam/master/data/f_wordlist.csv')

In [15]:
f_wordlist_df

       No           word  level  number of character
0     139           area      4                    4
1     209           band      4                    4
2     244           beef      4                    4
3     260           belt      4                    4
4     308           body      4                    4
..    ...            ...    ...                  ...
846  1138    grandmother      6                   11
847  1374    interesting      6                   11
848  2811    traditional      6                   11
849  1375  international      6                   13
850   837         e-mail      6                   14

[851 rows x 4 columns]

In [16]:
nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma', use_gpu=True, tokenize_pretokenized=False)
f_wordlist_lemma = []

for df_sentence in f_wordlist_df.word:
  doc = nlp(df_sentence)
  for sentence in doc.sentences:
    tmp_token = []
    for word in sentence.words:
      tmp_token.append(word.lemma)
    
    f_wordlist_lemma.append(tmp_token)

#print(stanza_token_lemma)
f_wordlist_lemma_df = pd.DataFrame(f_wordlist_lemma)

2021-05-04 11:41:46 WARNING: Can not find mwt: default from official model list. Ignoring it.
2021-05-04 11:41:46 INFO: Loading these models for language: en (English):
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| pos       | combined |
| lemma     | combined |
========================

2021-05-04 11:41:46 INFO: Use device: cpu
2021-05-04 11:41:46 INFO: Loading: tokenize
2021-05-04 11:41:46 INFO: Loading: pos
2021-05-04 11:41:46 INFO: Loading: lemma
2021-05-04 11:41:46 INFO: Done loading processors!

In [17]:
f_wordlist_lemma_df

                 0     1     2     3
0             area  None  None  None
1             band  None  None  None
2             beef  None  None  None
3             belt  None  None  None
4             body  None  None  None
..             ...   ...   ...   ...
846    grandmother  None  None  None
847    interesting  None  None  None
848    traditional  None  None  None
849  international  None  None  None
850         e-mail  None  None  None

[851 rows x 4 columns]

In [18]:
f_wordlist_lemma_df_concat = pd.concat([f_wordlist_df, f_wordlist_lemma_df], axis=1)

In [19]:
f_wordlist_lemma_df_concat

       No           word  level  ...     1     2     3
0     139           area      4  ...  None  None  None
1     209           band      4  ...  None  None  None
2     244           beef      4  ...  None  None  None
3     260           belt      4  ...  None  None  None
4     308           body      4  ...  None  None  None
..    ...            ...    ...  ...   ...   ...   ...
846  1138    grandmother      6  ...  None  None  None
847  1374    interesting      6  ...  None  None  None
848  2811    traditional      6  ...  None  None  None
849  1375  international      6  ...  None  None  None
850   837         e-mail      6  ...  None  None  None

[851 rows x 8 columns]

In [20]:
words_list = stanza_token_lemma_df.values.tolist()
f_word_lemma_list = f_wordlist_lemma_df_concat[0].values.tolist()
f_word_list = f_wordlist_lemma_df_concat.word.values.tolist()


sentence_f_word_list = []

for f_word, f_word_lemma in zip(f_word_list, f_word_lemma_list):
  # print(f_word)
  # print(f_word_lemma)
  for cnt, list in enumerate(words_list, start=0):
    tmp_list = []
    try:
      tmp_list.append(cnt)
      tmp_list.append(f_word)
      tmp_list.append(f_word_lemma)
      tmp_list.append(list.index(f_word_lemma))
      sentence_f_word_list.append(tmp_list)
    except ValueError:
      pass

In [23]:
sentence_f_word_list

[[92, 'band', 'band', 7],
 [1255, 'band', 'band', 5],
 [1088, 'beef', 'beef', 5],
 [111, 'belt', 'belt', 5],
 [442, 'body', 'body', 13],
 [1273, 'body', 'body', 7],
 [1271, 'bomb', 'bomb', 10],
 [486, 'case', 'case', 7],
 [1303, 'case', 'case', 2],
 [1306, 'case', 'case', 2],
 [579, 'chef', 'chef', 6],
 [1468, 'dark', 'dark', 4],
 [235, 'fell', 'fall', 3],
 [1271, 'fell', 'fall', 11],
 [1276, 'fell', 'fall', 5],
 [1474, 'fell', 'fall', 4],
 [917, 'gift', 'gift', 15],
 [1170, 'goal', 'goal', 5],
 [1450, 'goal', 'goal', 11],
 [417, 'half', 'half', 7],
 [556, 'hall', 'hall', 5],
 [559, 'hall', 'hall', 5],
 [891, 'hate', 'hate', 2],
 [981, 'hero', 'hero', 2],
 [721, 'host', 'host', 4],
 [722, 'host', 'host', 3],
 [725, 'host', 'host', 5],
 [734, 'host', 'host', 2],
 [736, 'host', 'host', 3],
 [738, 'host', 'host', 7],
 [512, 'kept', 'keep', 3],
 [1314, 'kept', 'keep', 8],
 [1378, 'kept', 'keep', 7],
 [1425, 'kept', 'keep', 13],
 [1437, 'kept', 'keep', 5],
 [106, 'knew', 'know', 3],
 [196, 'knew', 'know', 3],
 [197, 'knew', 'know', 2],
 [203, 'knew', 'know', 4],
 [263, 'knew', 'know', 3],
 [271, 'knew', 'know', 3],
 [274, 'knew', 'know', 4],
 [277, 'knew', 'know', 3],
 [557, 'knew', 'know', 3],
 [643, 'knew', 'know', 2],
 [718, 'knew', 'know', 5],
 [771, 'knew', 'know', 3],
 [945, 'knew', 'know', 2],
 [1069, 'knew', 'know', 2],
 [1119, 'knew', 'know', 5],
 [1133, 'knew', 'know', 4],
 [1137, 'knew', 'know', 5],
 [1209, 'knew', 'know', 9],
 [1302, 'knew', 'know', 3],
 [1351, 'knew', 'know', 3],
 [1355, 'knew', 'know', 2],
 [1374, 'knew', 'know', 11],
 [1527, 'land', 'land', 9],
 [1438, 'lead', 'lead', 9],
 [869, 'main', 'main', 2],
 [299, 'mask', 'mask', 6],
 [1459, 'pick', 'pick', 2],
 [525, 'plan', 'plan', 4],
 [614, 'plan', 'plan', 5],
 [620, 'plan', 'plan', 2],
 [955, 'plan', 'plan', 2],
 [926, 'pool', 'pool', 10],
 [792, 'push', 'push', 9],
 [1017, 'safe', 'safe', 7],
 [1307, 'safe', 'safe', 4],
 [811, 'seat', 'seat', 4],
 [1157, 'size', 'size', 6],
 [1072, 'sold', 'sell', 8],
 [1187, 'sold', 'sell', 8],
 [1197, 'sold', 'sell', 11],
 [1248, 'tour', 'tour', 7],
 [279, 'U.K.', 'U.K.', 7],
 [526, 'U.K.', 'U.K.', 7],
 [1420, 'U.K.', 'U.K.', 8],
 [138, 'used', 'use', 3],
 [153, 'used', 'use', 4],
 [766, 'used', 'use', 3],
 [778, 'used', 'use', 2],
 [779, 'used', 'use', 10],
 [792, 'used', 'use', 15],
 [793, 'used', 'use', 7],
 [828, 'used', 'use', 3],
 [1006, 'used', 'use', 12],
 [1007, 'used', 'use', 4],
 [1020, 'used', 'use', 13],
 [1024, 'used', 'use', 6],
 [1026, 'used', 'use', 3],
 [1027, 'used', 'use', 2],
 [1029, 'used', 'use', 4],
 [1065, 'used', 'use', 4],
 [1093, 'used', 'use', 3],
 [1532, 'used', 'use', 3],
 [1551, 'used', 'use', 2],
 [550, 'view', 'view', 6],
 [1281, 'weak', 'weak', 4],
 [1290, 'weak', 'weak', 4],
 [1473, 'weak', 'weak', 5],
 [187, 'beach', 'beach', 6],
 [190, 'beach', 'beach', 6],
 [191, 'beach', 'beach', 6],
 [939, 'beach', 'beach', 10],
 [10, 'close', 'close', 1],
 [1501, 'close', 'close', 8],
 [1306, 'cover', 'cover', 7],
 [888, 'dying', 'die', 5],
 [951, 'dying', 'die', 7],
 [1019, 'dying', 'die', 5],
 [1296, 'dying', 'die', 11],
 [1419, 'dying', 'die', 11],
 [1253, 'field', 'field', 7],
 [352, 'guess', 'guess', 3],
 [611, 'guess', 'guess', 1],
 [1511, 'guide', 'guide', 11],
 [335, 'hotel', 'hotel', 5],
 [1225, 'hotel', 'hotel', 8],
 [747, 'laugh', 'laugh', 4],
 [809, 'laugh', 'laugh', 3],
 [858, 'laugh', 'laugh', 5],
 [320, 'light', 'light', 7],
 [1255, 'light', 'light', 9],
 [1049, 'paint', 'paint', 5],
 [1051, 'paint', 'paint', 4],
 [1054, 'paint', 'paint', 3],
 [900, 'radio', 'radio', 10],
 [160, 'right', 'right', 7],
 [510, 'right', 'right', 6],
 [568, 'right', 'right', 2],
 [573, 'right', 'right', 6],
 [685, 'right', 'right', 5],
 [719, 'right', 'right', 2],
 [744, 'right', 'right', 3],
 [1278, 'right', 'right', 5],
 [1294, 'right', 'right', 5],
 [1312, 'right', 'right', 12],
 [1353, 'right', 'right', 3],
 [1482, 'right', 'right', 4],
 [876, 'round', 'round', 5],
 [1106, 'shirt', 'shirt', 6],
 [1113, 'shirt', 'shirt', 6],
 [1119, 'shirt', 'shirt', 3],
 [346, 'skate', 'skate', 3],
 [347, 'skate', 'skate', 3],
 [575, 'smile', 'smile', 5],
 [704, 'smile', 'smile', 5],
 [1477, 'smile', 'smile', 9],
 [1501, 'smile', 'smile', 4],
 [185, 'spoke', 'speak', 2],
 [237, 'spoke', 'speak', 7],
 [239, 'spoke', 'speak', 2],
 [240, 'spoke', 'speak', 3],
 [241, 'spoke', 'speak', 3],
 [246, 'spoke', 'speak', 4],
 [708, 'spoke', 'speak', 4],
 [709, 'spoke', 'speak', 7],
 [753, 'spoke', 'speak', 3],
 [1383, 'spoke', 'speak', 3],
 [507, 'stage', 'stage', 6],
 [810, 'stage', 'stage', 8],
 [821, 'stage', 'stage', 5],
 [583, 'whole', 'whole', 6],
 [1022, 'women', 'woman', 9],
 [1404, 'women', 'woman', 4],
 [1472, 'women', 'woman', 3],
 [1475, 'women', 'woman', 6],
 [1477, 'women', 'woman', 2],
 [1485, 'women', 'woman', 2],
 [1493, 'women', 'woman', 5],
 [602, 'advice', 'advice', 7],
 [705, 'advice', 'advice', 2],
 [730, 'advice', 'advice', 5],
 [1511, 'anyway', 'anyway', 6],
 [683, 'bridge', 'bridge', 6],
 [685, 'bridge', 'bridge', 4],
 [689, 'bridge', 'bridge', 5],
 [695, 'bridge', 'bridge', 4],
 [698, 'bridge', 'bridge', 4],
 [703, 'bridge', 'bridge', 5],
 [832, 'bridge', 'bridge', 5],
 [78, 'Canada', 'Canada', 4],
 [1036, 'Canada', 'Canada', 7],
 [1038, 'Canada', 'Canada', 1],
 [1040, 'Canada', 'Canada', 8],
 [1041, 'Canada', 'Canada', 7],
 [520, 'caught', 'catch', 2],
 [1474, 'caught', 'catch', 8],
 [1516, 'caught', 'catch', 6],
 [1547, 'caught', 'catch', 13],
 [113, 'cherry', 'cherry', 13],
 [1512, 'corner', 'corner', 9],
 [1417, 'effort', 'effort', 5],
 [255, 'eraser', 'eraser', 4],
 [1048, 'Europe', 'Europe', 7],
 [1056, 'Europe', 'Europe', 10],
 [162, 'finger', 'finger', 7],
 [572, 'forgot', 'forget', 3],
 [854, 'forgot', 'forget', 4],
 [1239, 'forgot', 'forget', 4],
 [1436, 'forgot', 'forget', 4],
 [1100, 'Hawaii', 'Hawaii', 8],
 [1102, 'Hawaii', 'Hawaii', 3],
 [1113, 'Hawaii', 'Hawaii', 8],
 [1117, 'Hawaii', 'Hawaii', 9],
 [613, 'invite', 'invite', 5],
 [1521, 'invite', 'invite', 2],
 [965, 'jacket', 'jacket', 4],
 [785, 'lesson', 'lesson', 5],
 [109, 'member', 'member', 4],
 [706, 'member', 'member', 4],
 [911, 'member', 'member', 8],
 [992, 'member', 'member', 12],
 [996, 'member', 'member', 6],
 [1434, 'member', 'member', 5],
 [1448, 'member', 'member', 5],
 [18, 'pardon', 'pardon', 1],
 [316, 'pardon', 'pardon', 1],
 [1071, 'period', 'period', 15],
 [124, 'rabbit', 'rabbit', 6],
 [126, 'rabbit', 'rabbit', 3],
 [273, 'rabbit', 'rabbit', 8],
 [823, 'simple', 'simple', 4],
 [870, 'simple', 'simple', 11],
 [1032, 'simple', 'simple', 14],
 [1033, 'simple', 'simple', 3],
 [185, 'spoken', 'speak', 2],
 [237, 'spoken', 'speak', 7],
 [239, 'spoken', 'speak', 2],
 [240, 'spoken', 'speak', 3],
 [241, 'spoken', 'speak', 3],
 [246, 'spoken', 'speak', 4],
 [708, 'spoken', 'speak', 4],
 [709, 'spoken', 'speak', 7],
 [753, 'spoken', 'speak', 3],
 [1383, 'spoken', 'speak', 3],
 [829, 'spread', 'spread', 6],
 [276, 'writer', 'writer', 2],
 [54, 'America', 'America', 4],
 [244, 'America', 'America', 5],
 [356, 'America', 'America', 9],
 [1023, 'anymore', 'anymore', 13],
 [955, 'charity', 'charity', 4],
 [1460, 'dentist', 'dentist', 8],
 [1463, 'dentist', 'dentist', 16],
 [1464, 'dentist', 'dentist', 11],
 [1466, 'dentist', 'dentist', 13],
 [1507, 'dentist', 'dentist', 8],
 [923, 'dolphin', 'dolphin', 2],
 [924, 'dolphin', 'dolphin', 8],
 [928, 'dolphin', 'dolphin', 3],
 [939, 'dolphin', 'dolphin', 7],
 [940, 'dolphin', 'dolphin', 2],
 [960, 'dolphin', 'dolphin', 8],
 [1537, 'feeling', 'feeling', 6],
 [865, 'forever', 'forever', 1],
 [1543, 'forever', 'forever', 14],
 [1435, 'improve', 'improve', 17],
 [769, 'mistake', 'mistake', 2],
 [1500, 'mistake', 'mistake', 2],
 [834, 'patient', 'patient', 8],
 [1147, 'percent', 'percent', 7],
 [1150, 'percent', 'percent', 6],
 [788, 'plastic', 'plastic', 7],
 [641, 'protect', 'protect', 7],
 [1308, 'protect', 'protect', 4],
 [1503, 'realize', 'realize', 2],
 [1454, 'respect', 'respect', 9],
 [940, 'serious', 'serious', 5],
 [1213, 'support', 'support', 11],
 [84, 'T-shirt', 'T-shirt', 5],
 [627, 'website', 'website', 8],
 [895, 'American', 'american', 6],
 [1426, 'American', 'american', 10],
 [1371, 'increase', 'increase', 7],
 [1438, 'national', 'national', 14],
 [1465, 'adventure', 'adventure', 6],
 [1512, 'adventure', 'adventure', 5],
 [1416, 'attention', 'attention', 9],
 [1516, 'attention', 'attention', 8],
 [666, 'carpenter', 'carpenter', 5],
 [149, 'chocolate', 'chocolate', 3],
 [1183, 'chocolate', 'chocolate', 1],
 [1196, 'chocolate', 'chocolate', 5],
 [1203, 'chocolate', 'chocolate', 6],
 [1207, 'chocolate', 'chocolate', 8],
 [1209, 'chocolate', 'chocolate', 15],
 [1210, 'chocolate', 'chocolate', 5],
 [370, 'dangerous', 'dangerous', 3],
 [1363, 'dangerous', 'dangerous', 6],
 [1376, 'dangerous', 'dangerous', 4],
 [1555, 'encourage', 'encourage', 7],
 [1156, 'kilometer', 'kilometer', 10],
 [56, 'New York ', 'New', 4],
 [384, 'New York ', 'New', 3],
 [385, 'New York ', 'New', 2],
 [388, 'New York ', 'New', 2],
 [1164, 'New York ', 'New', 9],
 [1440, 'New York ', 'New', 14],
 [1442, 'New York ', 'New', 2],
 [1306, 'earthquake', 'earthquake', 5],
 [1309, 'earthquake', 'earthquake', 10],
 [1322, 'earthquake', 'earthquake', 3],
 [1158, 'elementary', 'elementary', 12],
 [586, 'journalist', 'journalist', 6],
 [590, 'journalist', 'journalist', 5],
 [599, 'journalist', 'journalist', 5],
 [1381, 'Mrs.', 'Mrs.', 3],
 [1394, 'Mrs.', 'Mrs.', 4],
 [184, 'university', 'university', 5],
 [1515, 'university', 'university', 4],
 [1529, 'university', 'university', 4],
 [1524, 'convenience', 'convenience', 9],
 [1003, 'electricity', 'electricity', 4],
 [1147, 'electricity', 'electricity', 11],
 [461, 'information', 'information', 7],
 [493, 'United States', 'United', 7],
 [600, 'United States', 'United', 9],
 [632, 'United States', 'United', 5],
 [1038, 'United States', 'United', 6],
 [1169, 'United States', 'United', 7],
 [1397, 'United States', 'United', 9],
 [1433, 'United States', 'United', 12],
 [1025, 'global warming', 'global', 7],
 [1545, 'global warming', 'global', 10],
 [232, 'a.m.', 'a.m.', 4],
 [491, 'a.m.', 'a.m.', 5],
 [508, 'a.m.', 'a.m.', 7],
 [1372, 'able', 'able', 5],
 [883, 'aunt', 'aunt', 14],
 [1352, 'ball', 'ball', 15],
 [1456, 'card', 'card', 4],
 [1458, 'card', 'card', 7],
 [1461, 'card', 'card', 8],
 [1462, 'card', 'card', 4],
 [1463, 'card', 'card', 2],
 [1464, 'card', 'card', 7],
 [1466, 'card', 'card', 3],
 [1499, 'card', 'card', 12],
 [1504, 'card', 'card', 10],
 [1505, 'card', 'card', 7],
 [1507, 'card', 'card', 10],
 [52, 'club', 'club', 6],
 [109, 'club', 'club', 8],
 [815, 'date', 'date', 1],
 [1085, 'dish', 'dish', 2],
 [436, 'door', 'door', 7],
 [449, 'door', 'door', 14],
 [662, 'door', 'door', 6],
 [686, 'door', 'door', 3],
 [782, 'door', 'door', 3],
 [1457, 'door', 'door', 10],
 [1462, 'door', 'door', 10],
 [1469, 'door', 'door', 9],
 [1470, 'door', 'door', 6],
 [1471, 'door', 'door', 4],
 [1489, 'door', 'door', 9],
 [1498, 'door', 'door', 3],
 [1501, 'door', 'door', 7],
 [1503, 'door', 'door', 5],
 [1508, 'door', 'door', 14],
 [201, 'draw', 'draw', 4],
 [1303, 'fire', 'fire', 5],
 [563, 'full', 'full', 4],
 [1091, 'full', 'full', 3],
 [522, 'gave', 'give', 2],
 [722, 'gave', 'give', 6],
 [786, 'gave', 'give', 14],
 [1062, 'gave', 'give', 6],
 [1414, 'gave', 'give', 14],
 [1505, 'gave', 'give', 4],
 [770, 'hair', 'hair', 4],
 [612, 'held', 'hold', 4],
 [789, 'held', 'hold', 3],
 [834, 'held', 'hold', 3],
 [1291, 'held', 'hold', 2],
 [1295, 'held', 'hold', 2],
 [1410, 'kill', 'kill', 10],
 [1539, 'kill', 'kill', 6],
 [1016, 'lake', 'lake', 6],
 [320, 'left', 'leave', 2],
 [325, 'left', 'leave', 2],
 [704, 'left', 'leave', 2],
 [889, 'left', 'leave', 4],
 [896, 'left', 'leave', 4],
 [1387, 'left', 'leave', 4],
 [1420, 'left', 'leave', 14],
 [1535, 'left', 'leave', 4],
 [1172, 'luck', 'luck', 7],
 [289, 'Mike', 'Mike', 1],
 [294, 'Mike', 'Mike', 3],
 [166, 'milk', 'milk', 6],
 [855, 'milk', 'milk', 5],
 [816, 'p.m.', 'p.m.', 3],
 [1314, 'past', 'past', 10],
 [1461, 'past', 'past', 6],
 [707, 'rule', 'rule', 8],
 [767, 'sent', 'send', 8],
 [1508, 'sign', 'sign', 10],
 [1253, 'snow', 'snow', 6],
 [1504, 'step', 'step', 2],
 [839, 'test', 'test', 7],
 [875, 'town', 'town', 4],
 [887, 'town', 'town', 6],
 [961, 'true', 'true', 5],
 [1311, 'true', 'true', 3],
 [1373, 'true', 'true', 3],
 [1521, 'true', 'true', 12],
 [456, 'wind', 'wind', 2],
 [1031, 'wind', 'wind', 13],
 [634, 'wood', 'wood', 12],
 [1021, 'wood', 'wood', 6],
 [1022, 'wood', 'wood', 2],
 [1023, 'wood', 'wood', 12],
 [1024, 'wood', 'wood', 7],
 [1026, 'wood', 'wood', 15],
 [604, 'along', 'along', 5],
 [674, 'along', 'along', 7],
 [1444, 'along', 'along', 9],
 [1246, 'among', 'among', 5],
 [1522, 'among', 'among', 7],
 [673, 'angry', 'angry', 6],
 [366, 'climb', 'climb', 5],
 [367, 'climb', 'climb', 4],
 [369, 'climb', 'climb', 4],
 [1467, 'climb', 'climb', 6],
 [541, 'clock', 'clock', 4],
 [10, 'close', 'close', 1],
 [1501, 'close', 'close', 8],
 [814, 'comic', 'comic', 2],
 [979, 'comic', 'comic', 3],
 [982, 'comic', 'comic', 6],
 [498, 'dance', 'dance', 7],
 [499, 'dance', 'dance', 5],
 [291, 'drink', 'drink', 3],
 [1016, 'drink', 'drink', 1],
 [1093, 'drink', 'drink', 6],
 [162, 'eaten', 'eat', 3],
 [171, 'eaten', 'eat', 4],
 [435, 'eaten', 'eat', 3],
 [463, 'eaten', 'eat', 5],
 [723, 'eaten', 'eat', 5],
 [727, 'eaten', 'eat', 10],
 [849, 'eaten', 'eat', 3],
 [853, 'eaten', 'eat', 4],
 [858, 'eaten', 'eat', 1],
 [1004, 'eaten', 'eat', 4],
 [1210, 'eaten', 'eat', 4],
 [1479, 'eaten', 'eat', 4],
 [1484, 'eaten', 'eat', 7],
 [1485, 'eaten', 'eat', 5],
 [1467, 'enter', 'enter', 2],
 [660, 'fight', 'fight', 4],
 [1406, 'fight', 'fight', 7],
 [1424, 'fight', 'fight', 4],
 [87, 'India', 'India', 4],
 [160, 'India', 'India', 1],
 [106, 'known', 'know', 3],
 [196, 'known', 'know', 3],
 [197, 'known', 'know', 2],
 [203, 'known', 'know', 4],
 [263, 'known', 'know', 3],
 [271, 'known', 'know', 3],
 [274, 'known', 'know', 4],
 [277, 'known', 'know', 3],
 [557, 'known', 'know', 3],
 [643, 'known', 'know', 2],
 [718, 'known', 'know', 5],
 [771, 'known', 'know', 3],
 [945, 'known', 'know', 2],
 [1069, 'known', 'know', 2],
 [1119, 'known', 'know', 5],
 [1133, 'known', 'know', 4],
 [1137, 'known', 'know', 5],
 [1209, 'known', 'know', 9],
 [1302, 'known', 'know', 3],
 [1351, 'known', 'know', 3],
 [1355, 'known', 'know', 2],
 [1374, 'known', 'know', 11],
 [576, 'learn', 'learn', 5],
 [583, 'learn', 'learn', 4],
 [597, 'learn', 'learn', 10],
 [785, 'learn', 'learn', 2],
 [871, 'learn', 'learn', 3],
 [914, 'learn', 'learn', 3],
 [989, 'learn', 'learn', 8],
 [1069, 'learn', 'learn', 10],
 [1071, 'learn', 'learn', 3],
 [1214, 'learn', 'learn', 1],
 [1215, 'learn', 'learn', 5],
 [1216, 'learn', 'learn', 4],
 [1308, 'learn', 'learn', 1],
 [1447, 'learn', 'learn', 10],
 [1453, 'learn', 'learn', 8],
 [1454, 'learn', 'learn', 5],
 [1523, 'learn', 'learn', 2],
 [1524, 'learn', 'learn', 3],
 [14, "let's", 'let', 1],
 [138, "let's", 'let', 1],
 [303, "let's", 'let', 1],
 [310, "let's", 'let', 1],
 [318, "let's", 'let', 1],
 [349, "let's", 'let', 1],
 [361, "let's", 'let', 1],
 [484, "let's", 'let', 1],
 [512, "let's", 'let', 1],
 [922, "let's", 'let', 1],
 [937, "let's", 'let', 1],
 [1225, "let's", 'let', 1],
 [1358, "let's", 'let', 3],
 [385, 'lives', 'life', 16],
 [408, 'lives', 'life', 5],
 [778, 'lives', 'life', 11],
 [904, 'lives', 'life', 6],
 [911, 'lives', 'life', 5],
 [945, 'lives', 'life', 7],
 [1000, 'lives', 'life', 2],
 [1027, 'lives', 'life', 10],
 [1272, 'lives', 'life', 5],
 [1360, 'lives', 'life', 6],
 [1403, 'lives', 'life', 5],
 [1408, 'lives', 'life', 2],
 [1418, 'lives', 'life', 2],
 [1452, 'lives', 'life', 13],
 [1514, 'lives', 'life', 7],
 [1523, 'lives', 'life', 8],
 [1525, 'lives', 'life', 5],
 [1540, 'lives', 'life', 5],
 [1541, 'lives', 'life', 3],
 [1549, 'lives', 'life', 10],
 [1552, 'lives', 'life', 8],
 [1553, 'lives', 'life', 4],
 [1554, 'lives', 'life', 9],
 [28, 'March', 'March', 4],
 [1317, 'March', 'March', 2],
 [544, 'maybe', 'maybe', 1],
 [557, 'maybe', 'maybe', 1],
 [763, 'maybe', 'maybe', 1],
 [1074, 'maybe', 'maybe', 1],
 [1194, 'maybe', 'maybe', 3],
 [1555, 'maybe', 'maybe', 1],
 [549, 'meter', 'meter', 4],
 [926, 'meter', 'meter', 8],
 [956, 'money', 'money', 8],
 [1198, 'money', 'money', 11],
 [1203, 'money', 'money', 9],
 [1430, 'money', 'money', 8],
 [1488, 'money', 'money', 5],
 [1038, 'north', 'north', 3],
 [431, 'order', 'order', 5],
 [437, 'order', 'order', 7],
 [444, 'order', 'order', 5],
 [445, 'order', 'order', 4],
 [768, 'phone', 'phone', 2],
 [1089, 'piece', 'piece', 5],
 [16, 'quiet', 'quiet', 1],
 [8, 'raise', 'raise', 1],
 [380, 'ready', 'ready', 5],
 [480, 'ready', 'ready', 3],
 [160, 'right', 'right', 7],
 [510, 'right', 'right', 6],
 [568, 'right', 'right', 2],
 [573, 'right', 'right', 6],
 [685, 'right', 'right', 5],
 [719, 'right', 'right', 2],
 [744, 'right', 'right', 3],
 [1278, 'right', 'right', 5],
 [1294, 'right', 'right', 5],
 [1312, 'right', 'right', 12],
 [1353, 'right', 'right', 3],
 [1482, 'right', 'right', 4],
 [160, 'right', 'right', 7],
 [510, 'right', 'right', 6],
 [568, 'right', 'right', 2],
 [573, 'right', 'right', 6],
 [685, 'right', 'right', 5],
 [719, 'right', 'right', 2],
 [744, 'right', 'right', 3],
 [1278, 'right', 'right', 5],
 [1294, 'right', 'right', 5],
 [1312, 'right', 'right', 12],
 [1353, 'right', 'right', 3],
 [1482, 'right', 'right', 4],
 [1345, 'robot', 'robot', 4],
 [1346, 'robot', 'robot', 7],
 [1349, 'robot', 'robot', 5],
 [1350, 'robot', 'robot', 4],
 [1354, 'robot', 'robot', 5],
 [1358, 'robot', 'robot', 9],
 [1360, 'robot', 'robot', 3],
 [1361, 'robot', 'robot', 2],
 [1363, 'robot', 'robot', 2],
 [1365, 'robot', 'robot', 2],
 [1367, 'robot', 'robot', 1],
 [1369, 'robot', 'robot', 2],
 [1372, 'robot', 'robot', 2],
 [1373, 'robot', 'robot', 14],
 [1375, 'robot', 'robot', 1],
 [1378, 'robot', 'robot', 16],
 [972, 'shall', 'shall', 1],
 [1224, 'shall', 'shall', 4],
 [6, 'stood', 'stand', 1],
 [455, 'stood', 'stand', 2],
 [1262, 'stood', 'stand', 6],
 [1472, 'stood', 'stand', 4],
 [90, 'study', 'study', 2],
 [141, 'study', 'study', 9],
 [184, 'study', 'study', 2],
 [330, 'study', 'study', 3],
 [629, 'study', 'study', 8],
 [913, 'study', 'study', 7],
 [1102, 'study', 'study', 5],
 [1266, 'sweet', 'sweet', 9],
 [133, 'taken', 'take', 1],
 [136, 'taken', 'take', 9],
 [177, 'taken', 'take', 1],
 [300, 'taken', 'take', 3],
 [302, 'taken', 'take', 3],
 [417, 'taken', 'take', 2],
 [442, 'taken', 'take', 1],
 [554, 'taken', 'take', 2],
 [567, 'taken', 'take', 3],
 [570, 'taken', 'take', 3],
 [591, 'taken', 'take', 3],
 [599, 'taken', 'take', 7],
 [660, 'taken', 'take', 7],
 [685, 'taken', 'take', 1],
 [688, 'taken', 'take', 3],
 [691, 'taken', 'take', 2],
 [735, 'taken', 'take', 4],
 [736, 'taken', 'take', 6],
 [799, 'taken', 'take', 1],
 [805, 'taken', 'take', 5],
 [806, 'taken', 'take', 8],
 [897, 'taken', 'take', 4],
 [943, 'taken', 'take', 6],
 [978, 'taken', 'take', 3],
 [1186, 'taken', 'take', 4],
 [1335, 'taken', 'take', 1],
 [1339, 'taken', 'take', 5],
 [1340, 'taken', 'take', 1],
 [1367, 'taken', 'take', 8],
 [1372, 'taken', 'take', 11],
 [1520, 'taken', 'take', 2],
 [1538, 'taken', 'take', 2],
 [541, 'tower', 'tower', 5],
 [770, 'twice', 'twice', 5],
 [1157, 'twice', 'twice', 4],
 [883, 'uncle', 'uncle', 11],
 [175, 'wrong', 'wrong', 3],
 [312, 'wrong', 'wrong', 5],
 [1373, 'afraid', 'afraid', 10],
 [801, 'arrive', 'arrive', 3],
 [912, 'became', 'become', 4],
 [947, 'became', 'become', 2],
 [992, 'became', 'become', 10],
 [1074, 'became', 'become', 6],
 [1104, 'became', 'become', 2],
 [1121, 'became', 'become', 8],
 [1159, 'became', 'become', 4],
 [1261, 'became', 'become', 3],
 [1299, 'became', 'become', 5],
 [1356, 'became', 'become', 4],
 [1528, 'became', 'become', 5],
 [1214, 'behind', 'behind', 5],
 [1420, 'behind', 'behind', 18],
 [1466, 'behind', 'behind', 1],
 [771, 'bottle', 'bottle', 6],

In [25]:
sentence_f_word_df = pd.DataFrame(sentence_f_word_list,
                                  columns=['id', 'word', 'lemma', 'mask_id'])

In [53]:
mask_model_df = pd.DataFrame(columns=['id', 'textBook', 'grade', 'articleId', 'Page', 'sentenceId', 'sentence', 'mask_id'])

In [54]:
mask_model_df

Empty DataFrame
Columns: [id, textBook, grade, articleId, Page, sentenceId, sentence, mask_id]
Index: []

In [76]:
id_list = sentence_f_word_df.id
maskId_list = sentence_f_word_df.mask_id

for id, maskId in zip(id_list, maskId_list):
  maskId_df = pd.Series([maskId], index=['mask_id'])

  mask_model_df = mask_model_df.append(allsentenceInTextbook_df.loc[allsentenceInTextbook_df['id'] == id])
  print(maskId)
  mask_model_df = pd.concat([mask_model_df, maskId_df], axis=1)
  # print(mask_model_df)

7

ValueError: ignored

In [63]:
mask_model_df.loc[mask_model_df['id'] == 92]

    id textBook grade  ... sentenceId                      sentence mask_id
92  92       NH     1  ...          7  I play the guitar in a band.       7
92  92       NH     1  ...          7  I play the guitar in a band.       7
92  92       NH     1  ...          7  I play the guitar in a band.       7
92  92       NH     1  ...          7  I play the guitar in a band.       7
92  92       NH     1  ...          7  I play the guitar in a band.       7
92  92       NH     1  ...          7  I play the guitar in a band.       7

[6 rows x 8 columns]

In [61]:
from google.colab import files
filename =  "mask_model_df_check.csv"
mask_model_df.to_csv(filename, encoding = 'utf-8-sig') 
files.download(filename)

In [28]:
allsentenceInTextbook_df

        id  ...                                           sentence
0        0  ...                             Good morning, Takashi.
1        1  ...                                Good morning, Jill.
2        2  ...                                       How are you?
3        3  ...                               I'm fine, thank you.
4        4  ...                                           And you?
...    ...  ...                                                ...
1551  1551  ...      He used his photographs to share it with us,
1552  1552  ...  and to show us the importance of life on the E...
1553  1553  ...  Michio’s own life was changed because of one p...
1554  1554  ...  Perhaps his photographs will also change someo...
1555  1555  ...  Maybe Michio’s Alaskan photographs will encour...

[1556 rows x 7 columns]

In [69]:
#df[df['col_A'].str.contains('A_1')]
# allsentenceInTextbook_df.loc[allsentenceInTextbook_df['id'].astype(str).str.contains('100')]
allsentenceInTextbook_df.loc[allsentenceInTextbook_df['id'] == 100]
#print(df[df['state'] == 'CA'])

TypeError: ignored

In [91]:
from google.colab import files
filename =  "f_wordlist_lemma_df_concatcheck.csv"
f_wordlist_lemma_df_concat.to_csv(filename, encoding = 'utf-8-sig') 
files.download(filename)

In [ ]:
word_list = ['area', 'band', 'beef', 'belt', 'body']